.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.post {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 1rem;
  border-radius: 0.5rem;

  background-color: blanchedalmond;
  color: #333333;
}

.single-post {
  padding: 1rem;
  border-radius: 0.5rem;

  background-color: blanchedalmond;
  color: #333333;
}

.post:hover {
  background-color: #f3d5a9;
}

.post-title {
  margin-bottom: 1rem;
  color: #333333;
  cursor: pointer;
  word-break: break-word;
  pointer-events: none;
}

.post-title:hover {
  text-decoration: underline;
}

.user-text {
  margin-top: auto;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: small;
  text-decoration: underline;
}

.post-footer-link {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.post-footer-link:hover {
  text-decoration: none;
}

.post-footer-link-text {
  padding-right: 0.5rem;
}

.trash-icon {
  width: 0.75rem;
}

@media (max-width: 768px) {
  .post {
    width: 100%;
  }
}
