.header {
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #626262;
}

.title-with-search {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.logo-text {
  font-size: 3rem;
}

.search {
  width: 50%;
  margin-left: auto;
}

.navigation-item {
  font-size: 1.25rem;
}

.navigation-item-link {
  color: white;
}

@media (max-width: 576px) {
  .search {
    width: 100%;
    margin-left: 0;
  }
}
