.page-title {
  color: white;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.post {
  width: 25%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: blanchedalmond;
  cursor: pointer;
}

.post:hover {
  background-color: #f3d5a9;
}

.post-title {
  color: #333333;
}

@media (max-width: 768px) {
  .post {
    width: 100%;
  }
}
