.wrapper {
  max-width: 1024px;
  margin: 2rem auto 0;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #333333;
  color: white;
}

@media (max-width: 576px) {
  .wrapper {
    padding: 0.5rem;
  }
}
